.DS_Store
node_modules
*.backup
*.tmbackup
*.swp
*.swo
*~
.Spotlight-V100
.Trashes
.VolumeIcon.icns
.Thumbnails
Icon?
._*
.AppleDouble
.LSOverride
db/*.sqlite3
log/*.log
rerun.txt
tmp/**/*
.env
.bundle
.byebug_history
*.pyc
